<!-- Modal -->
<div class="modal fade" id="updatecity" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updatecityLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatecityLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form>
         <div class="form-group">
           <label>City Name</label>
           <input ([(ngModel)]="updateCity.name") class="form-control" type="text"/>
         </div>
         <br>
         <div class="form-control">
          <label>countery Name</label>
          <select-countery-app></select-countery-app>>
         </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
