<div class="container pt-4">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="card  w-100 " style="width: 18rem;">
          <div class="ratio ratio-4x3">
            <img src={{userdispaly.mainPhoto||defaultPhoto}} class="card-img-top rounded mx-auto d-block" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title"><strong>{{userdispaly.userName}}</strong> </h3>
            <p class="card-text">{{userdispaly.introduction}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span> age : </span> {{userdispaly.age}}</li>
            <li class="list-group-item"><span> city :</span>{{userdispaly.city}}</li>
            <li class="list-group-item"><span> create Date :</span>{{userdispaly.createDate}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-md-8">
      <div class="card w-100">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs ">
              <li [ngbNavItem]="1">
                <a ngbNavLink>introduction</a>
                <ng-template ngbNavContent>
                  <p>{{userdispaly.introduction}}</p>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink><b>Information</b> title</a>
                <ng-template ngbNavContent>
                 <p> {{userdispaly.email}}</p>
                 <p> {{userdispaly.phone}}</p>
                </ng-template>
              </li>
              <li ngbNavItem  class="ml-auto">
                <a ngbNavLink>Photo</a>
                <ng-template ngbNavContent>

                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>



          </div>
       </div>
      </div>
    </div>
</div>

