<div class="container pt-4">
  <div class="row">
  <div class="col-lg-4 col-sm-12 col-md-4">
<div class="card  w-100 " style="width: 18rem;">
  <div class="ratio ratio-4x3">
    <img src={{userdispaly.mainPhoto||defaultPhoto}} class="card-img-top rounded mx-auto d-block" alt="...">
  </div>
  <div class="card-body">
    <h3 class="card-title"><strong>{{userdispaly.userName}}</strong> </h3>
    <p class="card-text">{{userdispaly.introduction}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span> age : </span> {{userdispaly.age}}</li>
    <li class="list-group-item"><span> city :</span>{{userdispaly.city}}</li>
    <li class="list-group-item"><span> create Date :</span>{{userdispaly.createDate}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
<div class="col-lg-8 col-sm-12 col-md-8">
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>
</div>
</div>
