<div class="row justify-content-evenly mb-5  mt-5">
  <a class="col-md-2 shadow-lg  mb-5 bg-body rounded"  routerLink='/city'>
      <img class="  w-100  " src="../../assets/systemsetup.png">
      <div class="titleBtn text-center">
          <span>
             Anlysis
          </span>
      </div>
    </a>

  <a (click)="openEditInstituteProfile()" class="col-md-2 shadow-lg  mb-5 bg-body rounded"  >
      <img class="w-100   " src="../../assets/systemsetup.png">
      <div class="titleBtn text-center">
          <span>
              Edit Institute
          </span>
      </div>
    </a>

  <a class="col-md-2 shadow-lg  mb-5 bg-body rounded" routerLink='/Institute'>
      <img class="w-100  k " src="../../assets/systemsetup.png">
      <div class="titleBtn text-center">
          <span>
              InstituteCourse
          </span>
      </div>
    </a>
</div>

