.profile-img{
  width: 200px;

}
.postionImgProfile{
  top:72%;
  padding-left: 50px;
}
img{
  overflow: hidden;
}

.editInfoProfile{
  bottom: 10px;

}
.cover-img{
  /* height:500px; */
}
.info-Container
{
  margin: auto;
    max-width: 1020px;
}

