.profile-img{
  width: 120px;

}
.postionImgProfile{
  top:72%;
  padding-left: 50px;
}
img{
  overflow: hidden;
}

.editInfoProfile{
  bottom: 10px;

}

.info-Container
{
  margin: auto;
    max-width: 1020px;
}

