<div class="row justify-content-between mb-5  mt-5">
  <div class="col-md-3"  routerLink='/city'>
      <img class="img-fluid w-100" src="../../assets/systemsetup.png">
      <div class="titleBtn">
          <span>
             curr
          </span>
      </div>
  </div>

  <div class="col-md-3"  routerLink='/home'>
      <img class="img-fluid w-100" src="../../assets/systemsetup.png">
      <div class="titleBtn">
          <span>
              System Setup
          </span>
      </div>
  </div>

  <div class="col-md-3" routerLink='/Institute'>
      <img class="img-fluid w-100" src="../../assets/systemsetup.png">
      <div class="titleBtn">
          <span>
              Institute Setup
          </span>
      </div>
  </div>
</div>
